body {
  min-width: 960px;
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ee3643;
  border: none;
}

.button:hover {
  background-color: #ca2c37;
}

.button:focus,
.button:active {
  background-color: #ba2732;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-navigation {
  max-height: 42px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.main-header-logo {
  height: 42px;
  width: 220px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ee3643;
  -webkit-box-shadow: 0 5px 0 0 rgba(181, 41, 51, 1);
  box-shadow: 0 5px 0 0 rgba(181, 41, 51, 1);
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.main-header-logo a {
  display: block;
  padding: 10px 56px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
}

.main-header-logo:hover,
.main-header-logo:focus {
  background-color: #ca2c37;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(154, 33, 42, 1);
  box-shadow: 0px 5px 0px 0px rgba(154, 33, 42, 1);
}

.search-field input[type='search'] {
  background-image: url(../img/icon-search-1.svg);
  background-repeat: no-repeat;
  background-position-x: 17px;
  background-position-y: 12px;
  padding-top: 0px;
  padding-left: 48px;
  height: 42px;
  width: 270px;
  font-size: 17px;
  border: none;
  background-color: #293449;
  outline: none;
}

.search-field input[type='search']::-webkit-input-placeholder {
  color: #ffffff;
}

.search-field input[type='search']:-ms-input-placeholder {
  color: #ffffff;
}

.search-field input[type='search']::-ms-input-placeholder {
  color: #ffffff;
}

.search-field input[type='search']::placeholder {
  color: #ffffff;
}

.search-field input:hover {
  background-color: #212a3a;
  background-image: url('../img/icon-search.svg');
}

.search-field input:focus,
.search-field input:active {
  background-color: #ffffff;
  background-image: url('../img/icon-search-2.svg');
}

.buy-navigation,
.user-navigation,
.site-navigation {
  list-style: none;
}

.buy-navigation {
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 450px;
}

.book-mark {
  background-color: #293449;
  background-image: url('../img/icon-bookmark-1.svg');
  background-repeat: no-repeat;
  background-position-x: 17px;
  background-position-y: 12px;
}

.cart {
  background-color: #293449;
  background-image: url('../img/icon-cart-1.svg');
  background-repeat: no-repeat;
  background-position-x: 18px;
  background-position-y: 12px;
  z-index: 1;
  position: relative;
}

.buy-navigation li:hover {
  background-color: #212a3a;
}

.buy-navigation li:last-child {
  background-color: #63a63e;
}

.book-mark:hover {
  background-image: url('../img/icon-bookmark.svg');
}

.cart:hover {
  background-image: url('../img/icon-cart.svg');
}

.buy-navigation li:last-child:hover {
  background-color: #5fbb2d;
}

.buy-navigation li:focus,
.buy-navigation li:active {
  opacity: 0.6;
}

.buy-navigation li a {
  display: inline-block;
  width: 100%;
  color: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 12px;
  padding-right: 27px;
  padding-bottom: 12px;
  padding-left: 45px;
}

.buy-navigation li:nth-child(2) a {
  display: inline-block;
  width: 100%;
  color: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 12px;
  padding-right: 30px;
  padding-bottom: 12px;
  padding-left: 49px;
}

.buy-navigation li:nth-child(3) a {
  display: inline-block;
  width: 100%;
  color: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 12px;
  padding-right: 22px;
  padding-bottom: 12px;
  padding-left: 20px;
}

.cart-full:after {
  content: '';
  position: absolute;
  height: 42px;
  width: 150px;
  left: 0;
  top: 0;
  background: #ee3643;
  z-index: -1;
  opacity: 0.9;
}

.main-info {
  background-color: #f3f7f9;
}

.main-info h1 {
  width: 300px;
  padding-top: 38px;
  padding-left: 53px;
  padding-right: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Cuprum', Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.border-number {
  width: 300px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 26px;
  padding-left: 19px;
}

.main-info p {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.main-info .number {
  height: 28px;
  width: 192px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  padding-top: 9px;
  padding-left: 72px;
  color: #ee3643;
  border: 3px solid #ffffff;
  background-color: inherit;
  background-image: url('../img/icon-phone.svg');
  background-position: left center;
  background-repeat: no-repeat;
  background-position-x: 13px;
}

.main-info .address {
  margin-top: -15px;
  padding-left: 11px;
}

.main-navigation {
  height: 120px;
  background-color: #f3f7f9;
}

.container-main-nav {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #32425c;
  -webkit-box-shadow: 0 5px 0 0 rgba(41, 52, 73, 1);
  box-shadow: 0 5px 0 0 rgba(41, 52, 73, 1);
}

.user-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  margin-bottom: -37px;
}

.user-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  height: 32px;
  color: #000000;
  background-color: #ffffff;
}

.user-login li:nth-child(1) {
  width: 260px;
}

.user-login li:nth-child(2) {
  width: 40px;
}

.user-login li:nth-child(1) a {
  padding-top: 13px;
  padding-left: 48px;
  background-image: url('../img/icon-user.svg');
  background-position: left center;
  background-repeat: no-repeat;
  background-position-x: 13px;
}

.user-login li:nth-child(2) a {
  padding-top: 13px;
  padding-left: 25px;
  background-image: url('../img/icon-logout.svg');
  background-position: right center;
  background-repeat: no-repeat;
  background-position-x: 10px;
}

.user-login li:nth-child(1) a:hover {
  color: #000000;
  text-decoration: none;
  background-image: url('../img/icon-user-1.svg');
  background-position: left center;
  background-repeat: no-repeat;
  background-position-x: 13px;
}

.user-login li:nth-child(1) a:focus,
.user-login li:nth-child(1) a:active {
  color: #cacaca;
  background-image: url('../img/icon-user.svg');
  background-position: left center;
  background-repeat: no-repeat;
  background-position-x: 13px;
}

.user-login li:nth-child(2) a:hover {
  background-image: url('../img/icon-logout-1.svg');
  background-position: right center;
  background-repeat: no-repeat;
  background-position-x: 10px;
}

.user-login li:nth-child(2) a:focus,
.user-login li:nth-child(2) a:active {
  background-image: url('../img/icon-logout.svg');
  background-position: right center;
  background-repeat: no-repeat;
  background-position-x: 10px;
}

.user-login-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 19px;
  list-style: none;
}

.user-login-navigation a {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.orders {
  margin-right: 32px;
}

.user-login-navigation a:hover {
  color: #ee3643;
}

.user-login-navigation a:focus,
.user-login-navigation a:active {
  color: #cacfd5;
}

.personal-account {
  position: relative;
}

.personal-account::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -17px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #32425c;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 300px;
  margin: 0 auto;
  margin-right: 0px;
  padding: 0;
  padding-top: 45px;
  list-style: none;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #f4f7f9;
}

.user-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  height: 32px;
  color: #000000;
  background-color: #ffffff;
}

.user-navigation li:nth-child(1) {
  width: 121px;
  margin-left: 18px;
}

.user-navigation li:nth-child(2) {
  width: 150px;
}

.user-navigation li:nth-child(1) a {
  padding-top: 13px;
  padding-left: 48px;
  background-image: url('../img/icon-login.svg');
  background-position: left center;
  background-repeat: no-repeat;
  background-position-x: 15px;
}

.user-navigation li:nth-child(2) a {
  padding-top: 13px;
  padding-left: 25px;
}

.user-button:hover {
  color: #ee3643;
}

.user-navigation li:nth-child(1) a:hover {
  background-image: url('../img/icon-login-hover.svg');
  background-position: left center;
  background-repeat: no-repeat;
  background-position-x: 15px;
}

.user-navigation li:nth-child(1) a:focus,
.user-navigation li:nth-child(1) a:active {
  color: #b2b2b2;
  background-image: url('../img/icon-login.svg');
  background-position: left center;
  background-repeat: no-repeat;
  background-position-x: 15px;
}

.user-navigation li:nth-child(2) a:focus,
.user-navigation li:nth-child(2) a:active {
  color: #b2b2b2;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 55px;
  margin: 0;
  padding: 0 12px;
}

.site-navigation li a {
  display: block;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 18px;
  padding-left: 29px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.site-navigation a {
  color: #ffffff;
}

.site-navigation li:hover {
  background-color: #293449;
}

.site-navigation li:focus,
.site-navigation li:active {
  opacity: 0.5;
  background-color: #1d2739;
}

.menu-list-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu-list-2 {
  width: 300px;
}

.menu-item {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 123px;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 21px;
  padding-left: 23px;
}

.menu-item .flag {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.menu-item .flag-new {
  background: url('../img/new_flag.png') no-repeat 0 0;
}

.menu-list-1 li:nth-child(1) {
  background-color: #ffbf47;
  background-image: url('../img/icon-1.svg');
  background-repeat: no-repeat;
  background-position-x: 213px;
  background-position-y: 31px;
}

.menu-list-1 li:nth-child(2) {
  background-color: #3bbce3;
  background-image: url('../img/icon-2.svg');
  background-repeat: no-repeat;
  background-position-x: 197px;
  background-position-y: 33px;
}

.menu-list-1 li:nth-child(3) {
  background-color: #dc91d8;
  background-image: url('../img/icon-3.svg');
  background-repeat: no-repeat;
  background-position-x: 191px;
  background-position-y: 31px;
}

.menu-list-2 li:nth-child(1) {
  margin-bottom: 20px;
  background-color: #8ed78f;
  background-image: url('../img/icon-4.svg');
  background-position: right center;
  background-repeat: no-repeat;
  background-position-x: 196px;
}

.menu-list-2 li:nth-child(2) {
  background-color: #ffc047;
  background-image: url('../img/icon-5.svg');
  background-repeat: no-repeat;
  background-position-x: 191px;
  background-position-y: 32px;
}

.menu-list-1, .menu-list-2 {
  margin: 0;
  padding: 0;
  list-style: none;
  background: #ffffff;
}

.menu-name {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  margin-right: 0;
  margin-bottom: 12px;
  margin-top: 0;
}

.menu-button-open {
  display: block;
  width: 135px;
  height: 16px;
  margin-left: 2px;
  padding: 11px 0;
  position: relative;
  z-index: 1;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: #e5e5e5;
  color: #ffffff;
  border-radius: 2px;
  border: none;
}

.menu-list-1 li:nth-child(1) a {
  background-color: #e5ac40
}

.menu-list-1 li:nth-child(2) a {
  background-color: #35a9cc
}

.menu-list-1 li:nth-child(3) a {
  background-color: #c682c2
}

.menu-list-2 li:nth-child(1) a {
  background-color: #80c180
}

.menu-list-2 li:nth-child(2) a {
  background-color: #e5ac40
}

.menu-list-1 li a:hover,
.menu-list-2 li a:hover {
  background-color: #cccccc;
}

.menu-list-1 li a:focus,
.menu-list-1 li a:active,
.menu-list-2 li a:focus,
.menu-list-2 li a:active {
  background-color: #b2b2b2;
}

.index-menu {
  color: #000000;
  background-color: #ffffff;
}

.slider-and-menu {
  width: 940px;
  display: -ms-inline-flexbox;
  display: -webkit-inline-box;
  display: inline-flex;
}

/* Слайдер */
.slider-container {
  height: 266px;
  width: 620px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.slider-container:before {
  content: '';
  position: absolute;
  top: 114px;
  left: 25px;
  width: 22px;
  height: 40px;
  background-image: url(../img/icon-left.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider-container:after {
  content: '';
  position: absolute;
  top: 114px;
  left: 578px;
  width: 22px;
  height: 40px;
  background-image: url(../img/icon-right.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider {
  position: relative;
  background-color: #ffffff;
  margin-right: 20px;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 36px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: '';
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
  padding: 23px 0 34px 24px;
}

.slider-item:nth-child(1) {
  background-image: url('../img/slider-1.jpg');
  background-repeat: no-repeat;
}

.slider-item:nth-child(2) {
  background-image: url('../img/slider-2.jpg');
  background-repeat: no-repeat;
}

#slider-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#slider-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#slider-1:checked ~ .slider-controls .slider-controls-item--1::before,
#slider-2:checked ~ .slider-controls .slider-controls-item--2::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 6px;
  height: 6px;
  background-color: #ee3643;
  border-radius: 50%;
}

.slider-item h4 {
  margin: 0;
  margin-bottom: 1px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.slider-item p {
  margin: 0;
  margin-bottom: 122px;
  font-size: 18px;
  letter-spacing: -1px;
  color: #ffffff;
}

.slider-item-button {
  display: block;
  width: 192px;
  padding: 10px 0;
  padding-left: 5px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #ee3643;
  border-radius: 5px;
  border: none;
}

.slider-item-button:hover {
  background-color: #ca2c37;
}

.slider-item-button:focus,
.slider-item-button:active {
  color: #ffffff;
  background-color: #ba2732;
}

.header-article h2 {
  padding-top: 5px;
  padding-left: 26px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f9f5f0;
}

.button-open {
  display: block;
  width: 253px;
  padding: 14px 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  border-radius: 2px;
}

.header-article .button-open {
  margin-top: 25px;
  margin-right: 24px;
  padding-top: 11px;
  padding-left: 6px;
  padding-right: 6px;
  width: 241px;
  height: 13px;
}

.catalog-list-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.catalog-list-catalog {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item {
  position: relative;
  display: inline-block;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
}

.catalog-list-index .catalog-item:nth-child(3n) {
  margin-right: 20px;
}

.catalog-list-index .catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-list-catalog .catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item a {
  color: #000000;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url('../img/new_flag.png') no-repeat 0 0;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  background-color: #63a63e;

  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  font-family: 'Cuprum', Arial, sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}

.catalog-item .actions .buy {
  background-image: url('../img/icon-cart.svg');
  background-position: left center;
  background-repeat: no-repeat;
  background-position-x: 12px;
}

.catalog-item .buy:hover {
  border: 3px solid #5fbb2d;
  border-bottom-color: #367315;
  background-color: #5fbb2d;
}

.catalog-item .buy:focus,
.catalog-item .buy:active {
  border: 3px solid #518534;
  background-color: #518534;
}

.catalog-item .actions .bookmark {
  color: #32425c;
  background: #ffffff;
  border-bottom-color: #63a63e;
}

.catalog-item .bookmark:hover {
  border: 3px solid #32425c;
  background-color: #ffffff;
}

.catalog-item .bookmark:focus,
.catalog-item .bookmark:active {
  border: 3px solid #c1c6ce;
  background-color: #ffffff;
  opacity: 0.3;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover {
  -webkit-box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
  box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item .image {
  width: 218px;
  height: 160px;
}

.catalog-item .title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 19px;
  margin-bottom: 11px;
}

.catalog-item .discount {
  min-height: 20px;
  margin-bottom: 10px;
  margin-left: 4px;
  color: #999999;
  text-decoration: line-through;
}

.catalog-item .price {
  position: relative;
  width: 82px;
  height: 18px;
  margin-top: -2px;
  margin-bottom: 20px;
  margin-left: 41px;
  padding: 10px 30px;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  background-image: url(../img/red-button.svg);
  background-repeat: no-repeat;
  background-position-x: 1px;
}

.brand-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  width: 940px;
  height: 310px;
  padding: 0;
  list-style: none;
  margin-bottom: 85px;
}

.brand-item {
  position: relative;
  display: inline-block;
  width: 218px;
  height: 143px;
  border: 1px solid #eaeaea;
  vertical-align: middle;
}

.brand-item:hover {
  -webkit-box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
  box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.brand-item:focus,
.brand-item:active {
  -webkit-box-shadow: 0px 4px 10px 0px rgba(41, 52, 73, 0.5);
  box-shadow: 0px 4px 10px 0px rgba(41, 52, 73, 0.5);
  opacity: 0.5;
}

.brand-item a {
  display: inline-block;
  height: 100%;
}

.brand-item img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.service-back {
  background: #f4f8f9;
}

.service {
  background: #f4f8f9;
}

.container-service {
  width: 940px;
  margin: 0 auto;
}

.service p {
  width: 405px;
  margin-bottom: 69px;
}

.service-navigation {
  margin: 0;
  padding: 0;
}

.service h3 {
  padding-top: 65px;
  margin-bottom: 26px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.service-item h3 {
  padding-top: 0px;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  margin-top: 0;
}

.service-navigation, .service-list {
  list-style: none;
}

.service-navigation li {
  width: 240px;
  height: 60px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  background: #32425c;
  margin-bottom: 1px;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(41, 52, 73, 1);
  box-shadow: 0px 1px 0px 0px rgba(41, 52, 73, 1);
}

.service-navigation li a {
  display: inline-block;
  width: 100%;
  color: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 13px;
  padding-bottom: 17px;
  padding-left: 22px;
}

.service-navigation li .service-checked {
  color: #32425c;
  background: #ffffff;
}

.service-navigation li:nth-child(2):hover,
.service-navigation li:nth-child(3):hover {
  background: #293449;
}

.service-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service-list {
  width: 620px;
  height: 283px;
  margin: 0;
  margin-top: -2px;
  padding-left: 80px;
  position: relative;
}

.service-list::after {
  content: '';
  position: absolute;
  top: -45px;
  left: -10px;
  width: 10px;
  height: 272px;
  background-image: url(../img/vert-line.png);
}

.service-item {
  height: 283px;
}

.service-item p {
  width: 275px;
}

.service-item a {
  width: 195px;
  margin-top: 20px;
}

.service-list li:nth-child(1) {
  background-color: #f4f7f9;
  background-image: url(../img/delivery.png);
  background-repeat: no-repeat;
  background-position-x: 151px;
  background-position-y: 25px;
}

.service-list li:nth-child(2) {
  background-color: #f4f7f9;
  background-image: url(../img/guarantee.png);
  background-repeat: no-repeat;
  background-position-x: 230px;
}

.service-list li:nth-child(3) {
  background-color: #f4f7f9;
  background-image: url(../img/credit.png);
  background-repeat: no-repeat;
  background-position-x: 155px;
}

.info {
  background: #ffffff;
  padding-top: 52px;
}

.company h3,
.contacts h3 {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.8px;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.first-info {
  width: 525px;
  letter-spacing: 0.2px;
  margin-bottom: 24px;
}

.second-info {
  width: 390px;
  margin-bottom: 21px;
}

.company .button-open {
  width: 220px;
  height: 13px;
  padding-top: 12px;
  margin-bottom: 99px;
}

.company .button-open:hover,
.contacts .button-open:hover {
  background-color: #ca2c37;
}

.company .button-open:focus,
.company .button-open:active,
.contacts .button-open:focus,
.contacts .button-open:active {
  background-color: #ba2732;
}

.delivery-company {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  padding-left: 0;
  margin-bottom: 36px;
}

.delivery-company li {
  display: block;
  margin-bottom: 20px;
  background: transparent url(../img/list-style.jpg) left center no-repeat;
  padding-left: 37px;
}

.contacts-text {
  width: 180px;
  margin-bottom: 31px;
}

.contacts .map {
  display: block;
  height: 158px;
  margin-bottom: 40px;
}

.contacts .button-open {
  width: 300px;
  height: 13px;
  padding-top: 12px;
}

.main-footer {
  margin-top: -13px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-color: #32425c;
}

.footer-navigation-first,
.footer-navigation-second {
  list-style: none;
}

.footer-navigation-first a {
  color: #f1f5f7;
}

.footer-navigation-second a {
  color: #ffd180;
}

.footer-navigation-first a:hover,
.footer-navigation-second a:hover {
  text-decoration: underline;
}

.footer-navigation-first a:focus,
.footer-navigation-first a:active,
.footer-navigation-second a:focus,
.footer-navigation-second a:active {
  color: #f1f5f7;
  opacity: 0.5;
  text-decoration: none;
}

.footer-contacts {
  margin: 0;
  margin-right: 48px;
  margin-bottom: 49px;
  padding-left: 3px;
  color: #f1f5f7;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 130px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social-button {
  color: #ffffff;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #212a3a;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  background-color: #ee3643;
}

.bottom-footer {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.footer-feedback a,
.footer-developed a {
  color: #ffd180;
}

.footer-feedback a:hover,
.footer-developed a:hover {
  text-decoration: underline;
}

.footer-feedback a:focus,
.footer-feedback a:active,
.footer-developed a:focus,
.footer-developed a:active {
  color: #ee3643;
  text-decoration: none;
}

.modal {
  position: fixed;

  color: #000000;
  background-color: #ffffff;
}

.modal-close {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 21px;
  height: 21px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}

.modal-close::before,
.modal-close::after {
  content: '';
  position: absolute;
  top: 9px;
  left: -2px;
  width: 25px;
  height: 3px;
  background-color: #ee3643;
  border-radius: 5px;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-map {
  display: none;
  top: 120px;
  left: 50%;
  width: 940px;
  margin-left: -470px;
  z-index: 1000;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 16px 8px rgba(47, 42, 43, 0.5);
  box-shadow: 0px 0px 16px 8px rgba(47, 42, 43, 0.5);
}

.modal-write-us {
  display: none;
  top: 120px;
  left: 50%;
  width: 620px;
  margin-left: -310px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  z-index: 1000;
  color: #000000;
  background-color: #ffffff;
  border-top: 7px solid #ff5358;
  -webkit-box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.75);
}

.container-modal-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.modal-name {
  width: 220px;
  margin-top: 48px;
  margin-right: 20px;
}

.modal-email {
  width: 220px;
  margin-top: 48px;
}

.modal-name input[type='text'],
.modal-email input[type='text'] {
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.modal-letter {
  width: 460px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.modal-write-us input[type='text'] {
  width: 220px;
  height: 38px;
  margin-top: 10px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  outline: none;
  border: 2px solid #d7dcde;
  border-radius: 2px;
}

.modal-letter input[type='text'] {
  width: 460px;
  height: 114px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.modal-write-us input[type='text']:hover {
  border: 2px solid #b5b5b5;
}

.modal-write-us input[type='text']:focus {
  border: 2px solid #ee3643;
}

.modal-letter textarea {
  width: 440px;
  min-height: 113px;
  resize: none;
  border: 2px solid #dee3e4;
  border-radius: 3px;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 15px;
}

textarea::-webkit-input-placeholder {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #999999;
}

textarea:-ms-input-placeholder {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #999999;
}

textarea::-ms-input-placeholder {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #999999;
}

textarea::placeholder {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #999999;
}

.modal-write-us input[type='text']::-webkit-input-placeholder {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #999999;
}

.modal-write-us input[type='text']:-ms-input-placeholder {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #999999;
}

.modal-write-us input[type='text']::-ms-input-placeholder {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #999999;
}

.modal-write-us input[type='text']::placeholder {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #999999;
}

.modal .send-letter {
  width: 620px;
  height: 112px;
  background: #f4f4f4;
}

.modal .write-us-button {
  width: 460px;
  padding: 14px 0;
  margin-top: 30px;
  margin-left: 80px;
  font-size: 14px;
  line-height: 18px;
  border-radius: 2px;
}

.modal-cart {
  display: none;
  top: 120px;
  left: 50%;
  width: 620px;
  margin-left: -310px;
  font-family: 'Cuprum', Arial, sans-serif;
  color: #000000;
  z-index: 1000;
  background-color: #ffffff;
  border-top: 7px solid #ff5358;
  -webkit-box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.75);
}

.modal-cart .add-cart {
  margin: 0 auto;
  height: 162px;
  padding-top: 66px;
  padding-left: 174px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 30px;
  line-height: 30px;
  background-color: #ffffff;
  background-image: url(../img/icon-mark.svg);
  background-position: left center;
  background-repeat: no-repeat;
  background-position-x: 80px;
}

.container-modal-buttons {
  width: 460px;
  height: 112px;
  padding-left: 80px;
  padding-right: 80px;
  background: #f1f1f1;
}

.modal-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 33px;
}

.modal-button-open {
  width: 220px;
  padding: 14px 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  border-radius: 2px;
}

.next {
  color: #000000;
  background: white;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 17px;
  margin-bottom: 18px;
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs li:first-child {
  width: 15px;
  height: 20px;
  background-image: url(../img/icon-home.svg);
  background-repeat: no-repeat;
  background-position-x: -2px;
  background-position-y: 6px;
}

.breadcrumbs li:last-child {
  margin-left: 2px;
  margin-right: 0;
}

.breadcrumbs li::after {
  content: '';
  position: absolute;
  top: 6px;
  right: -24px;
  width: 8px;
  height: 12px;
  background-image: url('../img/icon-right-small.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumbs a {
  position: relative;
  top: 1px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.catalog-main-line {
  width: 940px;
  height: 89px;
  padding-top: 30px;
  padding-left: 28px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.8px;
  color: #32425c;
  background-color: #f2f6f8;
}

.header-filter {
  width: 220px;
  height: 38px;
  padding-top: 10px;
  padding-left: 19px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 11px;
  line-height: 18px;
  letter-spacing: -0.8px;
  color: #000000;
  text-transform: uppercase;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.filters {
  margin-right: 20px;
}

.filter-item {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  padding-bottom: 28px;
  border: none;
}

.range-filter {
  width: 220px;
  margin-top: 14px;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 10px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f7f3ec;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

.min-price:before {
  content: '—';
  position: absolute;
  top: 6px;
  right: 104px;
}

.price-controls input {
  width: 75px;
  padding: 8px 10px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  border: none;
  border-radius: 5px;
  background: #f7f3ec;
}

.max-price {
  text-align: right;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.filter-option {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: -6px;
  margin-left: 3px;
  margin-bottom: 6px;
  padding-left: 32px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filter-option input {
  opacity: 0;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
}

.filter-input-checkbox + label::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -35px;
  width: 23px;
  height: 23px;
  background-image: url('../img/checkbox-off.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
  content: '';
  position: absolute;
  top: -1px;
  left: -35px;
  width: 27px;
  height: 23px;
  background-image: url('../img/checkbox-on.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: '';
  position: absolute;
  left: -36px;
  top: -2px;
  width: 16px;
  height: 16px;
  border: 4px solid #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: '';
  position: absolute;
  top: 5px;
  left: -29px;
  width: 10px;
  height: 10px;
  background-color: #c5c5c5;
  border-radius: 50%;
}

.filter-input:disabled + label {
  opacity: 0.4;
}

.line {
  border-bottom: 1px solid #e5e5e5;
}

.filter-button {
  margin-top: 29px;
  width: 140px;
  height: 38px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  background: #ffffff;
  outline: none;
}

.filter-button:hover {
  border: 1px solid #bdc6ca;
  background-color: #ffffff;
}

.filter-button:focus,
.filter-button:active {
  border: 1px solid #ee3643;
  background-color: #ffffff;
}

.filter-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 700px;
  height: 38px;
  margin: 0;
  margin-bottom: 20px;
  background-color: #f9f5f0;
  border-radius: 3px;
}

.sort h3 {
  margin-top: 10px;
  margin-right: 120px;
  padding-left: 19px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.sort ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 400px;
  margin-top: 7px;
  padding: 0;
  padding-left: 20px;
  list-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sort ul li {
  padding-right: 25px;
}

.dir-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  width: 80px;
  padding-top: 8px;
  padding-left: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.type-sort a {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  opacity: 0.3;
  -webkit-text-decoration: underline dashed #ee3643;
  text-decoration: underline dashed #ee3643;
}

.type-sort a:hover {
  opacity: 1;
  -webkit-text-decoration: underline #ee3643;
  text-decoration: underline #ee3643;
}

.type-sort .checked a {
  color: #ee3643;
  text-decoration: none;
  opacity: 1;
}

.dir-switch path:hover,
.dir-switch path:hover {
  fill: #000000;
}

.dir-switch .checked path {
  fill: #ee3643;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  padding-top: 32px;
  margin: 0;
  list-style: none;
}

.pagination-item {
  margin-right: 9px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item:last-child a {
  padding: 6px 31px;
  text-transform: uppercase;
}

.pagination-item a {
  display: block;
  padding: 6px 15px;
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #ffffff;
}

.pagination-item a:hover {
  border: 1px solid #bdc6ca;
}

.pagination-item a:focus,
.pagination-item a:active {
  border: 1px solid #ee3643;
}

.pagination-item-current a {
  color: #ffffff;
  border: 1px solid #ee3643;
  background-color: #ee3643;
}

.info-products {
  background: #f2f6f8;
}

.info-products h3 {
  margin-top: 60px;
  padding-top: 65px;
  margin-bottom: 26px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.5px;
  text-transform: uppercase;
}

.container-header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 940px;
  height: 42px;
  margin: 0px auto;
  padding: 0 10px;
}

.container-main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 940px;
  height: 158px;
  margin: 0px auto;
  padding: 0 10px;
}

.container {
  margin: 0px auto;
  width: 940px;
}

.container-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto
}

.container-menu-list-1 {
  width: 940px;
  height: 202px;
  margin: 0 auto;
  margin-bottom: -59px;
  padding-top: 59px;
}

.container-menu-list-2 {
  width: 940px;
  height: 266px;
  margin: 0 auto;
  margin-bottom: 53px;
}

.container-popular,
.container-brand {
  width: 940px;
  margin: 0 auto;
}

.header-article {
  height: 89px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #f9f5f0;
  margin-bottom: 20px;
}

.container-top-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 940px;
  margin: 0 auto;
}

.footer-navigation-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 720px;
  height: 63px;
  padding-left: 172px;
  padding-top: 38px;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container-top-first .main-header-logo {
  width: 220px;
  height: 63px;
  font-size: 30px;
  line-height: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 33px;
}

.container-top-first .main-header-logo a {
  padding: 18px 42px;
}

.container-top-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 940px;
  margin: 0 auto;
}

.footer-navigation-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 566px;
  margin: 0;
  padding-left: 43px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container-bottom-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 940px;
  margin: 0 auto;
}

.footer-copyright {
  width: 240px;
  padding-top: 37px;
  padding-left: 1px;
  margin-right: 130px;
}

.footer-social {
  width: 150px;
  padding-left: 10px;
  padding-top: 35px;
}

.feedback-dev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 300px;
  margin-left: 100px;
  padding-top: 21px;
  margin-bottom: 18px;
}

.footer-feedback {
  padding-left: 10px;
}

.footer-developed {
  padding-left: 52px;
}

.container-write-us {
  margin: 0 auto;
  width: 620px;
  height: 430px;
}

.container-map {
  margin: 0 auto;
  width: 940px;
  height: 446px;
}

.container-add-cart {
  margin: 0 auto;
}

.container-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 300px;
  margin: 0 auto;
  margin-right: 0px;
  padding-top: 45px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #f4f7f9;
}

.container-info-prod {
  width: 940px;
  margin: 0 auto;
}

.container-bread {
  width: 940px;
  margin: 0 auto;
}

.container-info-prod p {
  letter-spacing: 0.14px;
  padding-bottom: 68px;
}
